*,
*:after,
*:before{
   margin: 0;
   padding: 0;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   
}

body{
    background-color: #FED1EF;
}
html{
    scroll-behavior: smooth;
}

/* custom scrolbar design */
::-webkit-scrollbar{
    width: 0.625rem;
}

::-webkit-scrollbar-track{
    background: whitesmoke;
}

::-webkit-scrollbar-thumb{
    background: #979A9A;
}



body {
  overflow-x: hidden;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
